asgiref==3.7.2
Django==5.0.1
django-cleanup==9.0.0
django-cors-headers==4.3.1
django-filter==23.5
django-storages==1.14.4
django-tinymce==4.1.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
gunicorn==21.2.0
Markdown==3.5.2
mysqlclient==2.2.3
pillow==10.2.0
PyJWT==2.10.1
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2024.2
